* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.menu{
align-items: center;
display: flex;
background-color: rgb(13, 110, 253);

}

.logo img{
    width: 70px;
    padding: 20px;
}
.nav-pills .nav-link  {
    color: rgb(255, 255, 255);
   
  }

.nav-pills .nav-link:hover{
    transition: 0.5s; 
    color: #022ca1;
    background-color: #e2e2e2;
    
    
}

.contanier
{
   
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    align-content: center;
    
}

.txt{
    max-width: 60%;
    padding: 10px;
}

.contanier .img {
    padding: 20px;
    width: 40%;
}

.contanier .img img{
    border-radius: 8px; /* Arredonda os cantos da imagem, opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destaque, opcional */
}
figcaption {
    font-size: 14px;
    color: #666; /* Cor da legenda */
    margin-top: 8px; /* Espaço entre a imagem e a legenda */
    font-style: italic; /* Deixa o texto em itálico */
}
.txt h1{
    color: #0036c9;
}
.txt h2{
    color: #0036c9;
}