* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#menu-h {
    background-color: rgb(218, 218, 218);
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000; 
    
}

#menu-h ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: color 0.4s;
}

#menu-h ul li a:hover {
    color: black;
}

#menu-h img {
    padding: 20pX;
    position: absolute;
    left: 10px;
    width: 180px;
}

.contanier
{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    align-content: center;
    margin-top: 100px;
}
.img{
    width: 40%;
}
.txt{
    min-width: 60%;
    padding: 10px;
}
.contanier img{
    max-width: 600px; min-width: 200px;
    padding: 10px;
}